nav{
  top: 0;
  width: 50%;
  background-color: #333;
  position: fixed;
}
.button {

  text-align: center;
  font-size: 17px;
  float: left;
  text-decoration: none;
  cursor: pointer;
	padding: 14px 16px;
	color: white;
	transition: 0.6s;
  font-family:impact;

}
 .button:hover{
	background-color: white;
	color: black;
}

.btngroup{
	padding-bottom: 5px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;


}

.Shop img{
  width: 200px;
  height: 200px;
  border:1px solid #021a40;
}
header img{
	padding: 15px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}